In [1]:
import pandas as pd

In [5]:
csv_path='http://saketkumar673.000webhostapp.com/m1.xlsx'
df = pd.read_excel(csv_path)

In [6]:
df.head()

                     MAHENDRA ENGINEERING COLLEGE  Unnamed: 1 Unnamed: 2
0  DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING         NaN        NaN
1                          Xpanxion ELIGIBLE LIST         NaN        NaN
2                                            S.NO  REG NUMBER       NAME
3                                               1   151031001  AARTHI  S
4                                               2   151031003  ABISRI  K

In [7]:
pip install xlrd

The following command must be run outside of the IPython shell:

    $ pip install xlrd

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [8]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/jupyterlab/conda/lib/python3.6/site-packages (1.1.0)

In [12]:
x=df[['Length']]

KeyError: "['Length'] not in index"

In [13]:
xlsx_path='https://ibm.box.com/shared/static/mzd4exo31la6m7neva2w45dstxfg5s86.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [14]:
x=df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [15]:
x=df[['Artist']]
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [16]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [17]:
y=df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [18]:
q=df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [19]:
df.iloc[0,0]

'Michael Jackson'

In [20]:
df.iloc[0,2]

1982

In [21]:
df.iloc[2,3]

datetime.time(0, 42, 49)

In [22]:
df.loc[0,'Artist']

'Michael Jackson'

In [32]:
for i in df:
    print(df['Artist'])

0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object
0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object

In [33]:
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973